In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("spatial_self_identifying_hipster_dataset.csv")

In [4]:
df.head()

   BLOCKGROUP_ID  Self-Identifying Hipster  social_media_volume_percentile
0    10010201001                   -6.4258                          0.2617
1    10010201002                   -5.8507                          0.2325
2    10010202001                   -2.2181                          0.3263
3    10010202002                   -6.6762                          0.6188
4    10010203001                   -5.7239                          0.1461